<div class="container">
    <!-- Lista de cursos -->
    <ng-container *ngIf="cursos">
      <div class="course-list">
        <h2>Mis Cursos</h2>
        <ul>
          <li *ngFor="let course of cursos">{{ course }}</li>
        </ul>
      </div>
    </ng-container>
  
    <!-- Tarjetas de cursos -->
    <ng-container *ngIf="cursos">
      <div class="course-card" *ngFor="let course of cursos">
        <h3>{{ course }}</h3>
        <p>Descripción del {{ course }}...</p>
      </div>
    </ng-container>
  </div>
  